body {
    background-image: url("logo.png");
    background-repeat: no-repeat;
    align-items: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-size: cover;
}

.login-container {
    background-color: #1a2a35;
    border-radius: 10px;
    box-shadow: 10px 0 50px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 350px;
    height: 500px;
    text-align: center;
}

.logo img {
    width: 100px;
    padding: 20px;
    border-radius: 30px;
}

.logo p {
    font-style: italic;
    margin-bottom: 20px;
    color: white;
}

form h2 {
    color: white;
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    margin-bottom: 15px;
    width: 300px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    padding-left: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.input-group .icon {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 18px;
    color: #555;
}

.google-signin {
    background-color: white;
    border: none;
    color: #555;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    font-weight:bold;
}

button[type="submit"], .button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

button[type="submit"]:hover, .button:hover {
    background-color: #45a049;
}

a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: none;
}

.forgot-password {
    display: block;
    margin-top: 15px;
    color: white;
}
